[bumpversion]
current_version = 1.0.4
commit = True
tag = True
tag_name = v{new_version}
message = Bump version: {current_version} -> {new_version}

[bumpversion:file:VERSION]
search = version={current_version}
replace = version={new_version}

[semver]
main_branches = develop, env-test, env-stage, env-prod
major_branches =
minor_branches = feature
patch_branches = hotfix, bugfix
